<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>INVENTORY</h1>

            <button type="button" class="btn btn-default" data-bind="click: saveData, clickBubble: false">
                <i class="fas fa-save"></i>
            </button>
            <div id="savedText" class="hide">Saved!</div>
        </div>
        <div class="col-12 col-md-10 col-lg-8">

            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>

                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search"
                        placeholder="Search" data-bind="textInput: filterText">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-default" data-bind="click: clearFilter, clickBubble: false">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

            </div>
        </div>

    </div>


    <div class="row">
        <div class="col" data-bind="with: required">
            <h2><i class="fas fa-minus-square"></i> Required</h2>
            <span>
                <a href="#" data-bind="click: previous">&lt;</a>
                <!-- ko foreach: pages -->
                <a href="#" data-bind="text: $data, click: $parent.gotoPage"></a>
                <!-- /ko -->
                <a href="#" data-bind="click: next">&gt;</a>
            </span>
            <div class="itemList overflow-auto">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: pagedItems -->
                        <tr>
                            <td>
                                <div data-bind="text: name"></div>
                                <div data-bind="relics: relics" class="font-italic text-muted"></div>
                            </td>
                            <td scope="col">
                                <button type="button" class="btn btn-default"
                                    data-bind="click: $parents[1].itemAcquired, clickBubble: false">
                                    <i class="fas fa-greater-than"></i>
                                </button>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-1 align-self-center">
            <button type="button" class="btn btn-default" data-bind="click: pageAcquired, clickBubble: false">
                <i class="fas fa-angle-double-right"></i>
            </button>
            <br />
            <button type="button" class="btn btn-default" data-bind="click: pageLost, clickBubble: false">
                <i class="fas fa-angle-double-left"></i>
            </button>
        </div>
        <div class="col" data-bind="with: acquired">
            <h2><i class="fas fa-check-square"></i> Acquired</h2>
            <span>
                <a href="#" data-bind="click: previous">&lt;</a>
                <!-- ko foreach: pages -->
                <a href="#" data-bind="text: $data, click: $parent.gotoPage"></a>
                <!-- /ko -->
                <a href="#" data-bind="click: next">&gt;</a>
            </span>
            <div class="itemList overflow-auto">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: pagedItems -->
                        <tr>
                            <td scope="col">
                                <button type="button" class="btn btn-default"
                                    data-bind="click: $parents[1].itemLost, clickBubble: false">
                                    <i class="fas fa-less-than"></i>
                                </button>
                            </td>
                            <td data-bind="text: name"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>