<h1>INVENTORY</h1>


<div class="container">


    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">

            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>

                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search"
                        placeholder="Search" data-bind="textInput: filterText">
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" data-bind="with: required">
            <h2>Required</h2>
            <a href="#" data-bind="click: previous">&lt;</a>
            <!-- ko foreach: pages -->
            <a href="#" data-bind="text: $data, click: $parent.gotoPage"></a>
            <!-- /ko -->
            <a href="#" data-bind="click: next">&gt;</a>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: pagedItems -->
                    <tr>
                        <td data-bind="text: name"></td>
                        <td scope="col">
                            <button type="button" class="btn btn-default"
                                data-bind="click: $parents[1].itemAcquired, clickBubble: false">
                                <i class="fas fa-greater-than"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
        <div class="col" data-bind="with: acquired">
            <h2>Acquired</h2>
            <a href="#" data-bind="click: previous">&lt;</a>
            <!-- ko foreach: pages -->
            <a href="#" data-bind="text: $data, click: $parent.gotoPage"></a>
            <!-- /ko -->
            <a href="#" data-bind="click: next">&gt;</a>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Item</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: pagedItems -->
                    <tr>
                        <td scope="col">
                            <button type="button" class="btn btn-default"
                                data-bind="click: $parents[1].itemLost, clickBubble: false">
                                <i class="fas fa-less-than"></i>
                            </button>
                        </td>
                        <td data-bind="text: name"></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</div>