.relic-card {
}

.reward{
    font-style: italic;
}

.reward0 {
    background-color: #cd7f32;
    color: black;
}
.reward1 {
    background-color: silver;
    color: black;
}
.reward2 {
    background-color: gold;
    color: black;
}
